flows.json
[{"id":"9c05abbe.594fd8","type":"tab","label":"Data Logger","disabled":false,"info":""},{"id":"af8e3207.9d0d8","type":"subflow","name":"R_TRIG","info":"Detecta borda de subida.\n","in":[{"x":80,"y":40,"wires":[{"id":"e000ae15.1781"},{"id":"c9c76d73.964cc"}]}],"out":[{"x":940,"y":40,"wires":[{"id":"9077f17d.c9931","port":0}]}]},{"id":"54d60923.6d0798","type":"rbe","z":"af8e3207.9d0d8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":40,"wires":[["9077f17d.c9931"]]},{"id":"7a0ceaaa.a084a4","type":"change","z":"af8e3207.9d0d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":80,"wires":[["54d60923.6d0798"]]},{"id":"9077f17d.c9931","type":"switch","z":"af8e3207.9d0d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":40,"wires":[[]]},{"id":"e000ae15.1781","type":"switch","z":"af8e3207.9d0d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":40,"wires":[["54d60923.6d0798"]]},{"id":"c9c76d73.964cc","type":"switch","z":"af8e3207.9d0d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":80,"wires":[["7a0ceaaa.a084a4"]]},{"id":"9e2b5bbf.fc31e8","type":"file","z":"9c05abbe.594fd8","name":"WRITE DATA LOGGER","filename":"/run/media/mmcblk0p1/data.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1110,"y":540,"wires":[["e1cf9c1a.ec804"]]},{"id":"43dcd284.a06a8c","type":"uc-iodataIn","z":"9c05abbe.594fd8","mode":"wi_single_variable","variable":"ZP1_WEST_DI","name":"ZP1 WEST","pollInterval":"200000","pollIntervalBase":"s","x":160,"y":140,"wires":[["e210399c.f57748"],[]]},{"id":"7bed054c.b9d82c","type":"uc-iodataIn","z":"9c05abbe.594fd8","mode":"wi_single_variable","variable":"ZP1_EAST_DI","name":"ZP1 EAST","pollInterval":"200","pollIntervalBase":"ms","x":160,"y":200,"wires":[["29bfff05.99426"],[]]},{"id":"24ead83a.913d08","type":"uc-iodataIn","z":"9c05abbe.594fd8","mode":"wi_single_variable","variable":"ZP2_WEST_DI","name":"ZP2 WEST","pollInterval":"200","pollIntervalBase":"ms","x":160,"y":260,"wires":[["3684cbfb.df4774"],[]]},{"id":"fea2e743.4b8888","type":"uc-iodataIn","z":"9c05abbe.594fd8","mode":"wi_single_variable","variable":"ZP2_EAST_DI","name":"ZP2 EAST","pollInterval":"200","pollIntervalBase":"ms","x":160,"y":320,"wires":[["60cddae6.336994"],[]]},{"id":"974b109a.6f3ae","type":"uc-iodataIn","z":"9c05abbe.594fd8","mode":"wi_single_variable","variable":"MANUAL_DI","name":"MODE MANUAL","pollInterval":"200","pollIntervalBase":"ms","x":180,"y":420,"wires":[["918bc827.9f9d58"],[]]},{"id":"48333444.6dbb5c","type":"uc-iodataIn","z":"9c05abbe.594fd8","mode":"wi_single_variable","variable":"SEMI_AUTO_DI","name":"MODE SEMI AUTOMATIS","pollInterval":"200","pollIntervalBase":"ms","x":210,"y":480,"wires":[["bdc2da02.8c6478"],[]]},{"id":"b9505aa.cf08aa8","type":"uc-iodataIn","z":"9c05abbe.594fd8","mode":"wi_single_variable","variable":"KEY_SWITCH_DI","name":"KEY SWITCH","pollInterval":"200","pollIntervalBase":"ms","x":171,"y":73,"wires":[["42519048.0ae2"],[]]},{"id":"be7a07fb.f9b578","type":"uc-iodataIn","z":"9c05abbe.594fd8","mode":"wi_single_variable","variable":"BUZZER_STOP_DI","name":"BUZZER STOP","pollInterval":"200","pollIntervalBase":"ms","x":180,"y":540,"wires":[["4a4f63ff.f6277c"],[]]},{"id":"4a4f63ff.f6277c","type":"rbe","z":"9c05abbe.594fd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":540,"wires":[["bb69dff.fb5142"]]},{"id":"bb69dff.fb5142","type":"function","z":"9c05abbe.594fd8","name":"","func":"var utcWIB = new Date();\nvar dateToMilliseconds = utcWIB.getTime();\nvar today = new Date(dateToMilliseconds+(3600000*7));\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar tanggal = dd + \"/\" + mm + \"/\" + yyyy\n\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar s = today.getSeconds();\n\nvar jam = h + \":\" + m + \":\" + s\n\nif (msg.payload.value == '1'){\n    msg.payload = tanggal + \",\" + jam + \",\" + \"Tombol Buzzer Stop ditekan\"\n}\nelse {\n    msg.payload = tanggal + \",\" + jam + \",\" +  'Tombol Buzzer Stop dilepas'\n}\nmsg.filename = \"/run/media/mmcblk0p1/data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":540,"wires":[["9e2b5bbf.fc31e8"]]},{"id":"6ae78a56.d1c1c4","type":"file in","z":"9c05abbe.594fd8","name":"READ DATA LOGGER","filename":"/run/media/mmcblk0p1/data.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":1940,"wires":[["864f47ce.b67258"]]},{"id":"864f47ce.b67258","type":"debug","z":"9c05abbe.594fd8","name":"HASIL BACA","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1940,"wires":[]},{"id":"e1cf9c1a.ec804","type":"debug","z":"9c05abbe.594fd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":540,"wires":[]},{"id":"bfefd7b1.1e8f58","type":"inject","z":"9c05abbe.594fd8","name":"BACA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1940,"wires":[["6ae78a56.d1c1c4"]]},{"id":"e165237e.a92ab","type":"inject","z":"9c05abbe.594fd8","name":"HAPUS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1900,"wires":[["5b85fcbb.a9e914"]]},{"id":"e7626b73.e9ff18","type":"debug","z":"9c05abbe.594fd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":1900,"wires":[]},{"id":"5b85fcbb.a9e914","type":"file","z":"9c05abbe.594fd8","name":"DELETE DATA LOGGER","filename":"/run/media/mmcblk0p1/data.csv","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":390,"y":1900,"wires":[["e7626b73.e9ff18"]]},{"id":"bdc2da02.8c6478","type":"rbe","z":"9c05abbe.594fd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":480,"wires":[["3fd1c7b3.ed5238"]]},{"id":"3fd1c7b3.ed5238","type":"function","z":"9c05abbe.594fd8","name":"","func":"var utcWIB = new Date();\nvar dateToMilliseconds = utcWIB.getTime();\nvar today = new Date(dateToMilliseconds+(3600000*7));\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar tanggal = dd + \"/\" + mm + \"/\" + yyyy\n\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar s = today.getSeconds();\n\nvar jam = h + \":\" + m + \":\" + s\n\nif (msg.payload.value == '1'){\n    msg.payload = tanggal + \",\" + jam + \",\" + \"Mode Semi Otomatis aktif\"\n}\nelse {\n    msg.payload = tanggal + \",\" + jam + \",\" +  'Mode Semi Otomatis tidak aktif'\n}\nmsg.filename = \"/run/media/mmcblk0p1/data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":480,"wires":[["9e2b5bbf.fc31e8"]]},{"id":"918bc827.9f9d58","type":"rbe","z":"9c05abbe.594fd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":420,"wires":[["838c005c.29258"]]},{"id":"838c005c.29258","type":"function","z":"9c05abbe.594fd8","name":"","func":"var utcWIB = new Date();\nvar dateToMilliseconds = utcWIB.getTime();\nvar today = new Date(dateToMilliseconds+(3600000*7));\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar tanggal = dd + \"/\" + mm + \"/\" + yyyy\n\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar s = today.getSeconds();\n\nvar jam = h + \":\" + m + \":\" + s\n\nif (msg.payload.value == '1'){\n    msg.payload = tanggal + \",\" + jam + \",\" + \"Mode Manual aktif\"\n}\nelse {\n    msg.payload = tanggal + \",\" + jam + \",\" +  'Mode Manual tidak aktif'\n}\nmsg.filename = \"/run/media/mmcblk0p1/data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":420,"wires":[["9e2b5bbf.fc31e8"]]},{"id":"60cddae6.336994","type":"rbe","z":"9c05abbe.594fd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":320,"wires":[["abc39291.58af9"]]},{"id":"abc39291.58af9","type":"function","z":"9c05abbe.594fd8","name":"","func":"var utcWIB = new Date();\nvar dateToMilliseconds = utcWIB.getTime();\nvar today = new Date(dateToMilliseconds+(3600000*7));\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar tanggal = dd + \"/\" + mm + \"/\" + yyyy\n\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar s = today.getSeconds();\n\nvar jam = h + \":\" + m + \":\" + s\n\nif (msg.payload.value == '1'){\n    msg.payload = tanggal + \",\" + jam + \",\" + \"Tidak ada gandar kereta melewati ZP2 menuju timur\"\n}\nelse {\n    msg.payload = tanggal + \",\" + jam + \",\" +  'Gandar kereta melewati ZP2 menuju timur'\n}\nmsg.filename = \"/run/media/mmcblk0p1/data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":320,"wires":[["9e2b5bbf.fc31e8"]]},{"id":"3684cbfb.df4774","type":"rbe","z":"9c05abbe.594fd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":260,"wires":[["9d5ae000.9e94a"]]},{"id":"9d5ae000.9e94a","type":"function","z":"9c05abbe.594fd8","name":"","func":"var utcWIB = new Date();\nvar dateToMilliseconds = utcWIB.getTime();\nvar today = new Date(dateToMilliseconds+(3600000*7));\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar tanggal = dd + \"/\" + mm + \"/\" + yyyy\n\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar s = today.getSeconds();\n\nvar jam = h + \":\" + m + \":\" + s\n\nif (msg.payload.value == '1'){\n    msg.payload = tanggal + \",\" + jam + \",\" + \"Tidak ada gandar kereta melewati ZP2 menuju barat\"\n}\nelse {\n    msg.payload = tanggal + \",\" + jam + \",\" +  'Gandar kereta melewati ZP2 menuju barat'\n}\nmsg.filename = \"/run/media/mmcblk0p1/data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":260,"wires":[["9e2b5bbf.fc31e8"]]},{"id":"29bfff05.99426","type":"rbe","z":"9c05abbe.594fd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":200,"wires":[["5c41363.3ce81c8"]]},{"id":"5c41363.3ce81c8","type":"function","z":"9c05abbe.594fd8","name":"","func":"var utcWIB = new Date();\nvar dateToMilliseconds = utcWIB.getTime();\nvar today = new Date(dateToMilliseconds+(3600000*7));\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar tanggal = dd + \"/\" + mm + \"/\" + yyyy\n\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar s = today.getSeconds();\n\nvar jam = h + \":\" + m + \":\" + s\n\nif (msg.payload.value == '1'){\n    msg.payload = tanggal + \",\" + jam + \",\" + \"Tidak ada gandar kereta melewati ZP1 menuju timur\"\n}\nelse {\n    msg.payload = tanggal + \",\" + jam + \",\" +  'Gandar kereta melewati ZP1 menuju timur'\n}\nmsg.filename = \"/run/media/mmcblk0p1/data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":200,"wires":[["9e2b5bbf.fc31e8"]]},{"id":"e210399c.f57748","type":"rbe","z":"9c05abbe.594fd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":140,"wires":[["83e700c8.e2ccc"]]},{"id":"83e700c8.e2ccc","type":"function","z":"9c05abbe.594fd8","name":"","func":"var utcWIB = new Date();\nvar dateToMilliseconds = utcWIB.getTime();\nvar today = new Date(dateToMilliseconds+(3600000*7));\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar tanggal = dd + \"/\" + mm + \"/\" + yyyy\n\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar s = today.getSeconds();\n\nvar jam = h + \":\" + m + \":\" + s\n\nif (msg.payload.value == '1'){\n    msg.payload = tanggal + \",\" + jam + \",\" + \"Tidak ada gandar kereta melewati ZP1 menuju barat\"\n}\nelse {\n    msg.payload = tanggal + \",\" + jam + \",\" +  'Gandar kereta melewati ZP1 menuju barat'\n}\nmsg.filename = \"/run/media/mmcblk0p1/data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":140,"wires":[["9e2b5bbf.fc31e8"]]},{"id":"42519048.0ae2","type":"rbe","z":"9c05abbe.594fd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":80,"wires":[["69341351.9c920c"]]},{"id":"69341351.9c920c","type":"function","z":"9c05abbe.594fd8","name":"","func":"var utcWIB = new Date();\nvar dateToMilliseconds = utcWIB.getTime();\nvar today = new Date(dateToMilliseconds+(3600000*7));\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar tanggal = dd + \"/\" + mm + \"/\" + yyyy\n\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar s = today.getSeconds();\n\nvar jam = h + \":\" + m + \":\" + s\n\nif (msg.payload.value == '1'){\n    msg.payload = tanggal + \",\" + jam + \",\" + \"KEY SWITCH ON\"\n}\nelse {\n    msg.payload = tanggal + \",\" + jam + \",\" +  'KEY SWITCH OFF'\n}\nmsg.filename = \"/run/media/mmcblk0p1/data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":80,"wires":[["9e2b5bbf.fc31e8"]]},{"id":"f666c1ba.10474","type":"rbe","z":"9c05abbe.594fd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":860,"wires":[["c9112eac.be567"]]},{"id":"c9112eac.be567","type":"function","z":"9c05abbe.594fd8","name":"","func":"var utcWIB = new Date();\nvar dateToMilliseconds = utcWIB.getTime();\nvar today = new Date(dateToMilliseconds+(3600000*7));\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar tanggal = dd + \"/\" + mm + \"/\" + yyyy\n\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar s = today.getSeconds();\n\nvar jam = h + \":\" + m + \":\" + s\n\nif (msg.payload.value == '1'){\n    msg.payload = tanggal + \",\" + jam + \",\" + \"Alarm berbunyi\"\n}\nelse {\n    msg.payload = tanggal + \",\" + jam + \",\" +  'Alarm diam'\n}\nmsg.filename = \"/run/media/mmcblk0p1/data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":860,"wires":[["9e2b5bbf.fc31e8"]]},{"id":"16555653.2ef83a","type":"rbe","z":"9c05abbe.594fd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":800,"wires":[["b241beda.59114"]]},{"id":"b241beda.59114","type":"function","z":"9c05abbe.594fd8","name":"","func":"var utcWIB = new Date();\nvar dateToMilliseconds = utcWIB.getTime();\nvar today = new Date(dateToMilliseconds+(3600000*7));\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar tanggal = dd + \"/\" + mm + \"/\" + yyyy\n\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar s = today.getSeconds();\n\nvar jam = h + \":\" + m + \":\" + s\n\nif (msg.payload.value == '1'){\n    msg.payload = tanggal + \",\" + jam + \",\" + \"Buzer berbunyi\"\n}\nelse {\n    msg.payload = tanggal + \",\" + jam + \",\" +  'Buzzer diam'\n}\nmsg.filename = \"/run/media/mmcblk0p1/data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":800,"wires":[["9e2b5bbf.fc31e8"]]},{"id":"6986e99b.bb1f78","type":"rbe","z":"9c05abbe.594fd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":740,"wires":[["5f06b30a.240cac"]]},{"id":"5f06b30a.240cac","type":"function","z":"9c05abbe.594fd8","name":"","func":"var utcWIB = new Date();\nvar dateToMilliseconds = utcWIB.getTime();\nvar today = new Date(dateToMilliseconds+(3600000*7));\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar tanggal = dd + \"/\" + mm + \"/\" + yyyy\n\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar s = today.getSeconds();\n\nvar jam = h + \":\" + m + \":\" + s\n\nif (msg.payload.value == '1'){\n    msg.payload = tanggal + \",\" + jam + \",\" + \"Panah arah barat menyala\"\n}\nelse {\n    msg.payload = tanggal + \",\" + jam + \",\" +  'Panah arah barat padam'\n}\nmsg.filename = \"/run/media/mmcblk0p1/data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":740,"wires":[["9e2b5bbf.fc31e8"]]},{"id":"e1fbc72.31dba38","type":"rbe","z":"9c05abbe.594fd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":680,"wires":[["9a559996.ff2728"]]},{"id":"9a559996.ff2728","type":"function","z":"9c05abbe.594fd8","name":"","func":"var utcWIB = new Date();\nvar dateToMilliseconds = utcWIB.getTime();\nvar today = new Date(dateToMilliseconds+(3600000*7));\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar tanggal = dd + \"/\" + mm + \"/\" + yyyy\n\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar s = today.getSeconds();\n\nvar jam = h + \":\" + m + \":\" + s\n\nif (msg.payload.value == '1'){\n    msg.payload = tanggal + \",\" + jam + \",\" + \"Panah arah timur menyala\"\n}\nelse {\n    msg.payload = tanggal + \",\" + jam + \",\" +  'Panah arah timur padam'\n}\nmsg.filename = \"/run/media/mmcblk0p1/data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":680,"wires":[["9e2b5bbf.fc31e8"]]},{"id":"9507e603.060bd8","type":"uc-iodataIn","z":"9c05abbe.594fd8","mode":"wi_single_variable","variable":"DIR_EAR_DO","name":"DIR EAR","pollInterval":"200","pollIntervalBase":"ms","x":160,"y":680,"wires":[["e1fbc72.31dba38"],[]]},{"id":"af603540.b53a78","type":"uc-iodataIn","z":"9c05abbe.594fd8","mode":"wi_single_variable","variable":"DIR_WAR_DO","name":"DIR WAR","pollInterval":"200","pollIntervalBase":"ms","x":160,"y":740,"wires":[["6986e99b.bb1f78"],[]]},{"id":"4456dafd.1dd264","type":"uc-iodataIn","z":"9c05abbe.594fd8","mode":"wi_single_variable","variable":"BUZZER_DO","name":"BUZZER","pollInterval":"200","pollIntervalBase":"ms","x":160,"y":800,"wires":[["16555653.2ef83a"],[]]},{"id":"6b409501.80ddcc","type":"uc-iodataIn","z":"9c05abbe.594fd8","mode":"wi_single_variable","variable":"ALARM_DO","name":"ALARM","pollInterval":"200","pollIntervalBase":"ms","x":150,"y":860,"wires":[["f666c1ba.10474"],[]]},{"id":"2fed4a02.c63786","type":"file in","z":"9c05abbe.594fd8","name":"View On Page","filename":"/run/media/mmcblk0p1/data.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":1340,"wires":[["cc5a9d91.7fc4e"]]},{"id":"645e9e42.82679","type":"file","z":"9c05abbe.594fd8","name":"Delete Logger File","filename":"/run/media/mmcblk0p1/data.csv","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":710,"y":1440,"wires":[["430091e0.4155"]]},{"id":"c89c7306.96689","type":"http in","z":"9c05abbe.594fd8","name":"","url":"logger/hapus","method":"get","upload":false,"swaggerDoc":"","x":180,"y":1440,"wires":[["20526c2.266a694"]]},{"id":"430091e0.4155","type":"http response","z":"9c05abbe.594fd8","name":"","statusCode":"","headers":{},"x":1350,"y":1440,"wires":[]},{"id":"da2d9ca3.8849a","type":"http in","z":"9c05abbe.594fd8","name":"","url":"logger/download","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1640,"wires":[["c925ecb9.88f15"]]},{"id":"937e1415.132d78","type":"catch","z":"9c05abbe.594fd8","name":"","scope":null,"uncaught":false,"x":720,"y":1720,"wires":[["ad57d28a.10207","7af70e67.ce4da"]]},{"id":"7af70e67.ce4da","type":"debug","z":"9c05abbe.594fd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":1780,"wires":[]},{"id":"ad57d28a.10207","type":"function","z":"9c05abbe.594fd8","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1720,"wires":[["aa372de6.5753e","430091e0.4155","c0f8213e.3bd32","86a48f62.410f7"]]},{"id":"f4601647.8ce288","type":"http in","z":"9c05abbe.594fd8","name":"","url":"logger","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1340,"wires":[["2fed4a02.c63786"]]},{"id":"aa372de6.5753e","type":"http response","z":"9c05abbe.594fd8","name":"","statusCode":"","headers":{},"x":1350,"y":1340,"wires":[]},{"id":"aecbbde1.8a86c","type":"template","z":"9c05abbe.594fd8","name":"HTML REV01","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<title>Lihat Data</title>\n    <meta http-equiv=\"Content-Type\" content=\"text/html;charset=UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n    <style>\n        #header {\n            text-align: center;\n            font-family: \"Polar\", Helvetica, Arial, sans-serif;\n            padding-top: 5px;\n            color: #34568B;\n        }\n        #delete {\n            float: right;\n            text-align: center; \n            background-color: #Ff0000;\n            border: none; \n            color: white; \n            padding: 6px 15px;\n            cursor: pointer; \n            font-size: 12px;\n        }\n        #download {\n            float: right;\n            text-align: center; \n            background-color: DodgerBlue;\n            border: none; \n            color: white; \n            padding: 6px 15px;\n            cursor: pointer; \n            font-size: 12px;\n        }\n        #memory {\n            float: right;\n            padding-right: 5px;\n        }\n        #table {\n            font-family: Arial, Helvetica, sans-serif;\n            width: 100%;\n            padding-top: 0px;\n        }\n        \n        #table td, #table th {\n            border: 1px solid #ddd;\n            padding: 8px;\n        }\n        \n        #table tr:nth-child(even){background-color: #f2f2f2;}\n        \n        #table tr:hover {background-color: #ddd;}\n        \n        #table th {\n            padding-top: 12px;\n            padding-bottom: 12px;\n            text-align: left;\n            background-color: #0074D9;\n            color: white;\n        }\n        .center{\n            border-collapse: collapse;\n            width: 70%;\n            padding: auto;\n            margin-left:auto; \n            margin-right:auto;\n        }\n    </style>\n</head>\n<body>\n  <div class=\"center\">\n    <h1 id=\"header\">Data Logger</strong></h1>\n    <input type=\"text\" id=\"myinput\" placeholder=\"Search...\" title=\"Type in something\" style=font-size: 15px;>\n    <input id=\"download\" type=\"button\" onclick=\"window.location.href = 'logger/download';\" value=\"Download File\">\n    <input id=\"delete\" type=\"button\" onclick=confirmDelete() value=\"Hapus File\">\n    \n    <a id=\"memory\" href='/red/logger/memory' target=\"_blank\">\n         <img alt=\"Qries\" src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAaCAYAAAC3g3x9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAJiSURBVEhLtVXPi7FRFD5eaooF0mRjyk5SyoaV1JRYkI0iNSMbOzv/gZW1/AGymcwsJ0V2NkqyYqEmspgpyjAh+XXn3DPedzA2H76njvOe55773Hvuve4FtkM+n2c3NzcMAM4ymUzGHh8fmSQYDoepQRAEMp4gl8sljsfH3HGeVqtlAn4QUJN8q9WCQqEAkUgElssl2Gw24p6fnyEUChFntVqh3W7/4biGJCgCRwMcGXBkyYucaPvcfh7HH8FL8f8FX19foVqtQrfbhaenJxiNRhLX6/WI+/z8PMkRaIsRuLi0U5eYRqP52WXUo5lcBZvNhiUSiZMj/qvxGUI8Hj/ZeI6RIP2caDzHpDW8Jq4uKOv3+8zhcMDHxwcRKpUKHh4ewGQywWw2g7e3N8jlcmAwGCAajVIOx3q9hnK5DI1GY8cAXz4sHHF3dyetQ7FY5NQB+LXmdDp30S9QlHm93oM1hOFwyNRqNRG8I0+aTqfM5/Ox+/t7FggE6JoSBTudDgsGgyybzVJcqVQOBAW8B2EymWAMsN1uyVAYPB4PuN1uGAwGxIngf4CXlxdIp9MUWywW8hKOjw2/ufexWq0Y3nXSDGu1GuXpdDqKv76+pL4njw1feCwVYrEYlEolUCgU4HK5dq2/0Ov15MXqRCh2XkIqlSIRDtws8vP5nDyH0WiETCYDdrudYpwxeQnHJb+/v1MpIvixur29PbnLPNdsNh+ULOM/4/EY4x9gZ8AkwAeHNqBer8NisQA8CfRuiODnsNlsUpsI1Po7w0uMawlKpRK/rwN6sJLJJJUpvlrngvf3+/3wDTj3FtZaidxRAAAAAElFTkSuQmCCoO4onuVsEdcdxNOcLFp4KekEXsNv7AuB1/ibwlMLSaiFHNRCDmohB7WQg1rIQS3koBZyUAs5qIUc1EIOaiEHtZCDWshBLeTwUyw6UfdGY9NAjDyQ5nxbKMuvt1gvg7fxfDpoD6ab8Soc9pdHd3rVvoewX38WSwwvaDGK5z7IYBMCa36vwEdk6czDyX+xCCIkkvYmBjJBaRYXNl9VW4T2kxt8P2Hh+13ONDzbok+OI/d2ApaF70cL6PylWLzRo3jWgpHuxLSYMmJ43oKcyciz4EiUYeFHtJqXZcG4nEqyICbHciwm9pNVZuFvyrbo1mFBWlvEsIiZpy/JgvJ1OYYF868ozYJwTdEtDtyzl2VBWJtDt1jZT1OxBZ6wTLfAWoDVWfg7KJ5CFjv2ucuzQNN9yRbMh0WpFl0ooEIWQ/D35/Ek+bs/9p/rv4fl11d/GI43Ua6GhOJbjRM2A6DEBax1S7aYAT8+GLmOyAH8QraBMYHvPixbNm3hXLwKVFERy4Fk4XlgTxg7U8rCPbwGNGd5vUqiRfY9ZleQ9XeJBVIrAxbcVXE0i3fIAmlMPSywDglgwR11oVmAnRjkxrhbdLCVev/P4gsoh6z8ulugq1cBi9wgRzkWH0A55Pa+WeDjWIAFfYyCZQHe3xSLIR7Chv03F7aAOsbua+ViQfluOtSkZS4so1oEQEH3ixjOFqTxEujZ7XeCv5/3762ud1gFQbWABu7cI4Uniy6priH0VzvRNHS994FqsQAKuh/JJwva4nryyObK2jWjWqyhX0UstiQJb0S1OF2hFg+qxR4o6O5802cn6Ra2Ry3V4qOTL+heK0y3sDb+IfKdC4YFNNriroHoFnA3yUaHNgsDWwCdDPdIJ90Cuudc5BvTz1i4myCMWXvWJQUFSLZo5wu6u94MiyXPIn+Li7Dg/hm5B9EzFu7mIMcC7IU5yNbxZAtoCKE0i+w7v1EyXVohFnCT0E5mTI9sATwv3KOvzMwi3kMjUz1SLaBnd2k17YUFaxbDHHWjWvSoBQtb8K4qc8SKGtwnULCsFsiDHpoG8sB8ZFAtoLqwrNagcZ5gTrqyzLqWagEN5WD9i6J5g71FK96G4+kV4Ib0s9cB1QKqQrC+XknZjwvogWvWLFQLKOkH63eXlsMJNFDMWp5qAQ2buwfMSrQAqpZiFlDl4Z7aKzOftiQLsIfvPnOZFvlqq5DFFiiHjjaXZ5Gvp8xeAdECqsPRkf8qr6gidRT0V+CzMKVZAA8rM0iSBTQwSJgRK8viFTi52W6gWMDT6vjsJNWi5xzO7YH5qeZcIW6xsOQa4zPFVIv4dLOek7HfZtthHLeWkzunhsgGenDnzg6VaKewNzKxSSK6Bbe7esa8KQv8wA1sVL9aC/PVyYUl0Dyvai3MXyhsgc46VmqReeIWlcAzNSq1yEx6FrXAMzUqtchkSBWUICQGV2lBGBukQHgxeZUW2dMXkyDMxVdpkUvyKSRBSg2ozqKbm/4uIkHNlq/KIn85VyZRnQXwpOJLUN/CXJUFlK/DliC/NrcaC7jhw3SY0r/9QLc4kCfEppZkEJ4D5yMcrL7eMd6gw7PRzJpXQldox7nE6PIszrwsvmareQSNy0ab2cGVhed3Kcy3B55CEYs7vffFcjibzcJwNgvi1uT4WuOXDn7KWnu1kIJayEEt5KAWclALOaiFHNRCDj/FgpjzL5rAa/pXhs4EXrO/WnUl8Egv3BBO4DX5W253Aq+5b7ZLCDwk9agRnCx4C+ZFcrJo2PehIbZe07+td2bl4e+pkM/Ua97XuvP4XqM/YXplebZo/P09uFjgr9MRzdK/WjTze9c3dp2bRZMvqo9ztt99to0xoymK9WWmMZkzHMScaU0h3NYXmTOfg1XcXx7X+5cGfI58f+yP73H/A8krgwUmdaQDAAAAAElFTkSuQmCC\">\n    </a>\n    \n    <table id=\"table\">\n      <thead><tr>\n        <th><span id=\"tanggal\" class=\"w3-button table-column\">Tanggal <i class=\"caret\"></i></span></th>\n        <th><span id=\"jam\" class=\"w3-button table-column\">Jam <i class=\"caret\"></i></span></th>\n        <th><span id=\"info\" class=\"w3-button table-column\">Informasi <i class=\"caret\"></i></span></th>\n      </tr></thead>\n      <tbody id=\"mytable\"></tbody>\n    </table>\n  </div>\n\n<script>\n\nvar table = document.getElementById('mytable');\nvar input = document.getElementById('myinput');\nvar tableData = {{{payload}}}\nvar caretUpClassName = 'fa fa-caret-up';\nvar caretDownClassName = 'fa fa-caret-down';\n\nconst sort_by = (field, reverse, primer) => {\n\n  const key = primer ?\n    function(x) {\n      return primer(x[field]);\n    } :\n    function(x) {\n      return x[field];\n    };\n\n  reverse = !reverse ? 1 : -1;\n\n  return function(a, b) {\n    return a = key(a), b = key(b), reverse * ((a > b) - (b > a));\n  };\n};\n\n\nfunction clearArrow() {\n  let carets = document.getElementsByClassName('caret');\n  for (let caret of carets) {\n    caret.className = \"caret\";\n  }\n}\n\n\nfunction toggleArrow(event) {\n  let element = event.target;\n  let caret, field, reverse;\n  if (element.tagName === 'SPAN') {\n    caret = element.getElementsByClassName('caret')[0];\n    field = element.id\n  }\n  else {\n    caret = element;\n    field = element.parentElement.id\n  }\n\n  let iconClassName = caret.className;\n  clearArrow();\n  if (iconClassName.includes(caretUpClassName)) {\n    caret.className = `caret ${caretDownClassName}`;\n    reverse = false;\n  } else {\n    reverse = true;\n    caret.className = `caret ${caretUpClassName}`;\n  }\n\n  tableData.sort(sort_by(field, reverse));\n  populateTable();\n}\n\n\nfunction populateTable() {\n  table.innerHTML = '';\n  for (let data of tableData) {\n    let row = table.insertRow(-1);\n    \n    let tanggal = row.insertCell(0);\n    tanggal.innerHTML = data.tanggal;\n\n    let jam = row.insertCell(1);\n    jam.innerHTML = data.jam;\n\n    let info = row.insertCell(2);\n    info.innerHTML = data.info;\n  }\n\n  filterTable();\n}\n\n\nfunction filterTable() {\n  let filter = input.value.toUpperCase();\n  rows = table.getElementsByTagName(\"TR\");\n  let flag = false;\n\n  for (let row of rows) {\n    let cells = row.getElementsByTagName(\"TD\");\n    for (let cell of cells) {\n      if (cell.textContent.toUpperCase().indexOf(filter) > -1) {\n        if (filter) {\n          cell.style.backgroundColor = '#EFC050';\n        } else {\n          cell.style.backgroundColor = '';\n        }\n\n        flag = true;\n      } else {\n        cell.style.backgroundColor = '';\n      }\n    }\n\n    if (flag) {\n      row.style.display = \"\";\n    } else {\n      row.style.display = \"none\";\n    }\n\n    flag = false;\n  }\n}\n\n\npopulateTable();\n\nlet tableColumns = document.getElementsByClassName('table-column');\n\nfor (let column of tableColumns) {\n  column.addEventListener('click', function(event) {\n    toggleArrow(event);\n  });\n}\n\ninput.addEventListener('keyup', function(event) {\n  filterTable();\n});\n\nfunction confirmDelete()\n{\nvar agree=confirm(\"Yakin akan menghapus File?\\nData tidak dapat direcover\");\nif (agree)\n return window.location.href = 'logger/hapus';\nelse\n return false ;\n}\n\n</script>\n</body>\n</html>","output":"str","x":1020,"y":1340,"wires":[["aa372de6.5753e"]]},{"id":"cc5a9d91.7fc4e","type":"function","z":"9c05abbe.594fd8","name":"CSV String -> array of object","func":"function str2array(data){\n    \n    ld1 = data.split(\"\\n\");\n    var listData = \"[\";\n    \n    for(var i = 0; i < (ld1.length - 1); i++) {\n        ld2 = ld1[i].split(\",\");\n        ld3 = \"{tanggal:\\\"\" + ld2[0] + \"\\\",jam:\\\"\" + ld2[1] + \"\\\",info:\\\"\" + ld2[2] + \"\\\"}\";\n        listData += ld3;\n        if (i != (ld1.length - 2)){\n           listData += \",\";\n        }\n    }\n    listData += \"]\";\n    return listData;\n}\n\nmsg.payload = str2array(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1340,"wires":[["aecbbde1.8a86c"]]},{"id":"20526c2.266a694","type":"function","z":"9c05abbe.594fd8","name":"","func":"msg.filename = \"/run/media/mmcblk0p1/data.csv\";\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1440,"wires":[["645e9e42.82679"]]},{"id":"780e1f6d.2b78","type":"Drives","z":"9c05abbe.594fd8","name":"","x":410,"y":1540,"wires":[["e7642050.00ce8"]]},{"id":"7a375e00.fe7e","type":"http in","z":"9c05abbe.594fd8","name":"","url":"logger/memory","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1540,"wires":[["780e1f6d.2b78"]]},{"id":"e7642050.00ce8","type":"function","z":"9c05abbe.594fd8","name":"","func":"var objm = msg.payload[10];\nvar str = \"\";\nstr = \n\"<h1>Informasi Memory</h1>\" +\n\"<table style=\\\"padding: 8px;\\\">\" +\n    \"<tr>\" +\n        \"<td>Total Memory </td>\" +\n        \"<td>\" + objm.size/1000000 + \" GB</td>\" +\n    \"</tr>\" +\n    \"<tr>\" +\n        \"<td>Memory Digunakan</td> \" +\n        \"<td>\" + objm.used + \" KB</td>\" +\n    \"</tr>\" +\n    \"<tr>\" +\n        \"<td>Sisa Memory</td> \" +\n        \"<td>\" + objm.available + \" KB</td>\" +\n    \"</tr>\" +\n    \"<tr>\" +\n        \"<td>Persentase Penggunaan Memory </td>\" +\n        \"<td>\" + objm.capacity + \" %</td>\" +\n    \"</tr>\" +\n\"</table>\"\n\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1540,"wires":[["8d608956.6bd728"]]},{"id":"c0f8213e.3bd32","type":"http response","z":"9c05abbe.594fd8","name":"","statusCode":"","headers":{},"x":1350,"y":1540,"wires":[]},{"id":"8d608956.6bd728","type":"template","z":"9c05abbe.594fd8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<style>\ntable {\n  border-collapse: collapse;\n  width: 30%;\n}\n\nth, td {\n  text-align: left;\n  padding: 8px;\n}\n\ntr:nth-child(odd){background-color: #f2f2f2}\n\nth {\n  background-color: #04AA6D;\n  color: white;\n}\n</style>\n</head>\n<body>\n<table>\n    {{{payload}}}\n</table>\n\n</body>\n</html>","output":"str","x":1000,"y":1540,"wires":[["c0f8213e.3bd32"]]},{"id":"465b0018.40c22","type":"rbe","z":"9c05abbe.594fd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":920,"wires":[["ca3eea02.3fcea8"]]},{"id":"ca3eea02.3fcea8","type":"function","z":"9c05abbe.594fd8","name":"","func":"var utcWIB = new Date();\nvar dateToMilliseconds = utcWIB.getTime();\nvar today = new Date(dateToMilliseconds+(3600000*7));\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar tanggal = dd + \"/\" + mm + \"/\" + yyyy\n\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar s = today.getSeconds();\n\nvar jam = h + \":\" + m + \":\" + s\n\nif (msg.payload.value == '1'){\n    msg.payload = tanggal + \",\" + jam + \",\" + \"Barier terdeteksi UP\"\n}\nelse {\n    msg.payload = tanggal + \",\" + jam + \",\" +  'Deteksi UP hilang'\n}\nmsg.filename = \"/run/media/mmcblk0p1/data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":920,"wires":[["9e2b5bbf.fc31e8"]]},{"id":"b27ffc7c.8220d","type":"uc-iodataIn","z":"9c05abbe.594fd8","mode":"wi_single_variable","variable":"BARIER_POS_UP_DI","name":"POSUP","pollInterval":"200","pollIntervalBase":"ms","x":150,"y":920,"wires":[["465b0018.40c22"],[]]},{"id":"92ef5fd5.c9fbe","type":"rbe","z":"9c05abbe.594fd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":980,"wires":[["690bcc93.cdf2d4"]]},{"id":"690bcc93.cdf2d4","type":"function","z":"9c05abbe.594fd8","name":"","func":"var utcWIB = new Date();\nvar dateToMilliseconds = utcWIB.getTime();\nvar today = new Date(dateToMilliseconds+(3600000*7));\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar tanggal = dd + \"/\" + mm + \"/\" + yyyy\n\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar s = today.getSeconds();\n\nvar jam = h + \":\" + m + \":\" + s\n\nif (msg.payload.value == '1'){\n    msg.payload = tanggal + \",\" + jam + \",\" + \"Barier terdeteksi Down\"\n}\nelse {\n    msg.payload = tanggal + \",\" + jam + \",\" +  'Deteksi Down hilang'\n}\nmsg.filename = \"/run/media/mmcblk0p1/data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":980,"wires":[["9e2b5bbf.fc31e8"]]},{"id":"d6e4765a.2a4d68","type":"uc-iodataIn","z":"9c05abbe.594fd8","mode":"wi_single_variable","variable":"BARIER_POS_DN_DI","name":"POSDN","pollInterval":"200","pollIntervalBase":"ms","x":150,"y":980,"wires":[["92ef5fd5.c9fbe"],[]]},{"id":"e10a0ebd.eacd5","type":"file","z":"9c05abbe.594fd8","name":"WRITE DATA LOGGER","filename":"/run/media/mmcblk0p1/data.csv","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1410,"y":1120,"wires":[[]]},{"id":"fe249b93.97ccd8","type":"file in","z":"9c05abbe.594fd8","name":"READ DATA LOGGER","filename":"/run/media/mmcblk0p1/data.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":840,"y":1120,"wires":[["b0df7b60.32e438"]]},{"id":"b0df7b60.32e438","type":"function","z":"9c05abbe.594fd8","name":"","func":"data = msg.payload;\n\nvar test;\ntest = data.slice(data.indexOf(\"\\n\")+1, data.length);\n\nmsg.payload = test;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":1120,"wires":[["e10a0ebd.eacd5"]]},{"id":"30ba56fd.52686a","type":"rbe","z":"9c05abbe.594fd8","name":"","func":"deadbandEq","gap":"90","start":"","inout":"out","property":"payload","x":640,"y":1120,"wires":[["fe249b93.97ccd8"]]},{"id":"c26a3084.5c5","type":"function","z":"9c05abbe.594fd8","name":"","func":"var objm = msg.payload[10];\n\nmsg.payload = objm.capacity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1120,"wires":[["30ba56fd.52686a"]]},{"id":"57e69d4b.151e34","type":"Drives","z":"9c05abbe.594fd8","name":"","x":330,"y":1120,"wires":[["c26a3084.5c5"]]},{"id":"c925ecb9.88f15","type":"function","z":"9c05abbe.594fd8","name":"","func":"var today = new Date();\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar tanggal = dd + \"-\" + mm + \"-\" + yyyy\n\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar s = today.getSeconds();\n\nvar jam = h + \"-\" + m + \"-\" + s\n\nmsg.filename = \"/run/media/mmcblk0p1/data.csv\";\nmsg.contentdisposition = \"attachment; filename=\\\"Data File \" + tanggal + \" \" + jam + \".csv\\\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1640,"wires":[["ff62a2c3.43d62"]]},{"id":"ff62a2c3.43d62","type":"file in","z":"9c05abbe.594fd8","name":"Download Logger File","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":720,"y":1640,"wires":[["96c5ee2.4b32a1"]]},{"id":"86a48f62.410f7","type":"http response","z":"9c05abbe.594fd8","name":"","statusCode":"","headers":{},"x":1350,"y":1640,"wires":[]},{"id":"96c5ee2.4b32a1","type":"change","z":"9c05abbe.594fd8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/csv","tot":"str"},{"t":"set","p":"headers.Content-Disposition","pt":"msg","to":"contentdisposition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1640,"wires":[["86a48f62.410f7"]]},{"id":"4197119d.7d78e","type":"inject","z":"9c05abbe.594fd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1120,"wires":[["57e69d4b.151e34"]]}]